In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt
import ipywidgets as widgets
%matplotlib inline

In [2]:
df = pd.read_excel("test.xlsx")

In [3]:
df

,aar,kvartal,tabel,Spørgsmål,kategori,total,mænd,kvinder,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2018Q3,3,Billed1,Hvor har du aktivt set billedkunst inden for d...,Alle,4776885.000,2361246.000,2415639,NaN,NaN,NaN
1,2018Q3,3,Billed1,Hvor har du aktivt set billedkunst inden for d...,Galleri,603326.616,255869.293,347457.324,NaN,NaN,NaN
2,2018Q3,3,Billed1,Hvor har du aktivt set billedkunst inden for d...,Kunstmuseum eller kunstudstilling,1047925.624,439116.961,608808.663,NaN,NaN,NaN
3,2018Q3,3,Billed1,Hvor har du aktivt set billedkunst inden for d...,I det offentlige rum,871026.963,352589.378,518437.586,NaN,NaN,NaN
4,2018Q3,3,Billed1,Hvor har du aktivt set billedkunst inden for d...,"Tv, internettet eller apps, fx Instagram",865405.527,377320.181,488085.346,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1065,2020Q4,4,Scene3,Hvor mange gange har du overværet scenekunst l...,3 gange,55996.615,19763.803,36232.812,NaN,NaN,NaN
1066,2020Q4,4,Scene3,Hvor mange gange har du overværet scenekunst l...,4-6 gange,42803.499,14215.903,28587.596,NaN,NaN,NaN
1067,2020Q4,4,Scene3,Hvor mange gange har du overværet scenekunst l...,7+ gange,30398.889,20292.223,10106.666,NaN,NaN,NaN
1068,2020Q4,4,Scene3,Hvor mange gange har du overværet scenekunst l...,Ved ikke,4206.067,1689.165,2516.902,NaN,NaN,NaN
1069,2020Q4,4,Scene3,Hvor mange gange har du overværet scenekunst l...,uden for route,3904221.547,1984892.729,1919328.818,NaN,NaN,NaN

In [4]:
def subset_data(tabel, kategori):
    """Subset dataframe to selected table and category"""
    
    table_df = df.loc[df.tabel==tabel]
    kategori_df = table_df.loc[table_df.kategori==kategori]
    
    return kategori_df

In [5]:
def plotter(fig_type,tabel,kategori,variable):
    """Construct interactive plot"""
    fig = plt.figure(figsize=(13,9))
    ax = fig.add_subplot(111)
    kat_df = subset_data(tabel,kategori)
    
    if fig_type == 'Bar':
        ax.bar(kat_df.aar,kat_df[variable])
    elif fig_type == 'Line':
        ax.plot(kat_df.aar,kat_df[variable])
        
    ax.xaxis.label.set_fontsize(14) #set label fontsize to 14
    ax.yaxis.label.set_fontsize(14)
    ax.set(xlabel="År", ylabel = "Antal") #set xlabel,ylabel and xlimit
    for item in ax.get_yticklabels()+ax.get_xticklabels(): # set ticklabels to fontsize 24
        item.set_fontsize(14)
    ax.set_title(kat_df.Spørgsmål.unique()[0],fontsize=16)
    ax.grid(axis='y')
    #remove borders
    ax.spines['top'].set_visible(False)
    ax.spines['right'].set_visible(False)
    ax.spines['left'].set_visible(True)
    ax.spines['bottom'].set_visible(True)
    
    plt.show()

In [6]:

fig_type_select = widgets.Dropdown(
                  options=['Bar', 'Line'],
                  value='Bar',
                  description='Figur type:',
                  )

a = widgets.Dropdown(options = df.tabel.unique(),
                                value = "Billed1",
                                description = 'Tabel:')
b = widgets.Dropdown(options =df.kategori.unique(),
                                value = "Alle",
                                description = 'Kategori:',
                                layout={'width': 'max-content'})
c = widgets.ToggleButtons(options = [('Total','total'),
         ("Mænd","mænd"),
         ("Kvinder",'kvinder')],
         value = 'total',
         description = 'Variabel:')

#d = widgets.RadioButtons(
#    options=["Absolut","Pct."],
#    value='Absolut', # Defaults to 'pineapple'
#    layout={'width': 'max-content'}, # If the items' names are long
#    description='Enhed:',
#    orientation='horizontal'
#)

def on_value_change(change):
    """Dynamically update categories"""
    new_a = change['new']
    b.options = df.loc[df.tabel==new_a].kategori.unique()
a.observe(on_value_change, names='value')

widgets.interact(plotter,
                 fig_type = fig_type_select,
                 tabel = a,
                kategori = b,
                 variable = c)

interactive(children=(Dropdown(description='Figur type:', options=('Bar', 'Line'), value='Bar'), Dropdown(desc…